PasteDeploy>=1.5.2
Paste <=3.5.2
WebOb>=1.8.6
Routes>=2.4.1
eventlet>=0.25.2
oslo.serialization!=2.19.1,>=1.10.0 # Apache-2.0
stevedore>=1.20.0 # Apache-2.0
torch <=1.13.1
Pillow >= 8.4.0
torchvision >= 0.11.2
openai <=0.26.5
celery <= 5.2.7
oslo_config <= 9.1.1
redis <= 4.5.4
python-dotenv <= 1.0.0
PyGithub <= 1.58.1
webdav4 <= 0.9.8
debugpy <= 1.6.7