[data-joy-color-scheme="dark"] {
    --joy-palette-primary-50: #EDF5FD;
    --joy-palette-primary-100: #E3EFFB;
    --joy-palette-primary-200: #C7DFF7;
    --joy-palette-primary-300: #97C3F0;
    --joy-palette-primary-400: #4393E4;
    --joy-palette-primary-500: #0B6BCB;
    --joy-palette-primary-600: #185EA5;
    --joy-palette-primary-700: #12467B;
    --joy-palette-primary-800: #0A2744;
    --joy-palette-primary-900: #051423;
    --joy-palette-primary-plainColor: var(--joy-palette-primary-300, #97C3F0);
    --joy-palette-primary-plainHoverBg: var(--joy-palette-primary-800, #0A2744);
    --joy-palette-primary-plainActiveBg: var(--joy-palette-primary-700, #12467B);
    --joy-palette-primary-plainDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-primary-outlinedColor: var(--joy-palette-primary-200, #C7DFF7);
    --joy-palette-primary-outlinedBorder: var(--joy-palette-primary-700, #12467B);
    --joy-palette-primary-outlinedHoverBg: var(--joy-palette-primary-800, #0A2744);
    --joy-palette-primary-outlinedActiveBg: var(--joy-palette-primary-700, #12467B);
    --joy-palette-primary-outlinedDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-primary-outlinedDisabledBorder: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-primary-softColor: var(--joy-palette-primary-200, #C7DFF7);
    --joy-palette-primary-softBg: var(--joy-palette-primary-800, #0A2744);
    --joy-palette-primary-softHoverBg: var(--joy-palette-primary-700, #12467B);
    --joy-palette-primary-softActiveColor: var(--joy-palette-primary-100, #E3EFFB);
    --joy-palette-primary-softActiveBg: var(--joy-palette-primary-600, #185EA5);
    --joy-palette-primary-softDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-primary-softDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-primary-solidColor: var(--joy-palette-common-white, #FFF);
    --joy-palette-primary-solidBg: var(--joy-palette-primary-500, #0B6BCB);
    --joy-palette-primary-solidHoverBg: var(--joy-palette-primary-600, #185EA5);
    --joy-palette-primary-solidActiveBg: var(--joy-palette-primary-700, #12467B);
    --joy-palette-primary-solidDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-primary-solidDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-primary-mainChannel: 67 147 228;
    --joy-palette-primary-lightChannel: 199 223 247;
    --joy-palette-primary-darkChannel: 18 70 123;
    --joy-palette-neutral-50: #FBFCFE;
    --joy-palette-neutral-100: #F0F4F8;
    --joy-palette-neutral-200: #DDE7EE;
    --joy-palette-neutral-300: #CDD7E1;
    --joy-palette-neutral-400: #9FA6AD;
    --joy-palette-neutral-500: #636B74;
    --joy-palette-neutral-600: #555E68;
    --joy-palette-neutral-700: #32383E;
    --joy-palette-neutral-800: #171A1C;
    --joy-palette-neutral-900: #0B0D0E;
    --joy-palette-neutral-plainColor: var(--joy-palette-neutral-300, #CDD7E1);
    --joy-palette-neutral-plainHoverBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-plainActiveBg: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-neutral-plainDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-neutral-outlinedColor: var(--joy-palette-neutral-200, #DDE7EE);
    --joy-palette-neutral-outlinedBorder: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-neutral-outlinedHoverBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-outlinedActiveBg: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-neutral-outlinedDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-neutral-outlinedDisabledBorder: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-softColor: var(--joy-palette-neutral-200, #DDE7EE);
    --joy-palette-neutral-softBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-softHoverBg: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-neutral-softActiveColor: var(--joy-palette-neutral-100, #F0F4F8);
    --joy-palette-neutral-softActiveBg: var(--joy-palette-neutral-600, #555E68);
    --joy-palette-neutral-softDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-neutral-softDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-solidColor: var(--joy-palette-common-white, #FFF);
    --joy-palette-neutral-solidBg: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-neutral-solidHoverBg: var(--joy-palette-neutral-600, #555E68);
    --joy-palette-neutral-solidActiveBg: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-neutral-solidDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-neutral-solidDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-neutral-plainHoverColor: var(--joy-palette-neutral-300, #CDD7E1);
    --joy-palette-neutral-mainChannel: 159 166 173;
    --joy-palette-neutral-lightChannel: 221 231 238;
    --joy-palette-neutral-darkChannel: 50 56 62;
    --joy-palette-danger-50: #FEF6F6;
    --joy-palette-danger-100: #FCE4E4;
    --joy-palette-danger-200: #F7C5C5;
    --joy-palette-danger-300: #F09898;
    --joy-palette-danger-400: #E47474;
    --joy-palette-danger-500: #C41C1C;
    --joy-palette-danger-600: #A51818;
    --joy-palette-danger-700: #7D1212;
    --joy-palette-danger-800: #430A0A;
    --joy-palette-danger-900: #240505;
    --joy-palette-danger-plainColor: var(--joy-palette-danger-300, #F09898);
    --joy-palette-danger-plainHoverBg: var(--joy-palette-danger-800, #430A0A);
    --joy-palette-danger-plainActiveBg: var(--joy-palette-danger-700, #7D1212);
    --joy-palette-danger-plainDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-danger-outlinedColor: var(--joy-palette-danger-200, #F7C5C5);
    --joy-palette-danger-outlinedBorder: var(--joy-palette-danger-700, #7D1212);
    --joy-palette-danger-outlinedHoverBg: var(--joy-palette-danger-800, #430A0A);
    --joy-palette-danger-outlinedActiveBg: var(--joy-palette-danger-700, #7D1212);
    --joy-palette-danger-outlinedDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-danger-outlinedDisabledBorder: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-danger-softColor: var(--joy-palette-danger-200, #F7C5C5);
    --joy-palette-danger-softBg: var(--joy-palette-danger-800, #430A0A);
    --joy-palette-danger-softHoverBg: var(--joy-palette-danger-700, #7D1212);
    --joy-palette-danger-softActiveColor: var(--joy-palette-danger-100, #FCE4E4);
    --joy-palette-danger-softActiveBg: var(--joy-palette-danger-600, #A51818);
    --joy-palette-danger-softDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-danger-softDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-danger-solidColor: var(--joy-palette-common-white, #FFF);
    --joy-palette-danger-solidBg: var(--joy-palette-danger-500, #C41C1C);
    --joy-palette-danger-solidHoverBg: var(--joy-palette-danger-600, #A51818);
    --joy-palette-danger-solidActiveBg: var(--joy-palette-danger-700, #7D1212);
    --joy-palette-danger-solidDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-danger-solidDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-danger-mainChannel: 228 116 116;
    --joy-palette-danger-lightChannel: 247 197 197;
    --joy-palette-danger-darkChannel: 125 18 18;
    --joy-palette-success-50: #F6FEF6;
    --joy-palette-success-100: #E3FBE3;
    --joy-palette-success-200: #C7F7C7;
    --joy-palette-success-300: #A1E8A1;
    --joy-palette-success-400: #51BC51;
    --joy-palette-success-500: #1F7A1F;
    --joy-palette-success-600: #136C13;
    --joy-palette-success-700: #0A470A;
    --joy-palette-success-800: #042F04;
    --joy-palette-success-900: #021D02;
    --joy-palette-success-plainColor: var(--joy-palette-success-300, #A1E8A1);
    --joy-palette-success-plainHoverBg: var(--joy-palette-success-800, #042F04);
    --joy-palette-success-plainActiveBg: var(--joy-palette-success-700, #0A470A);
    --joy-palette-success-plainDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-success-outlinedColor: var(--joy-palette-success-200, #C7F7C7);
    --joy-palette-success-outlinedBorder: var(--joy-palette-success-700, #0A470A);
    --joy-palette-success-outlinedHoverBg: var(--joy-palette-success-800, #042F04);
    --joy-palette-success-outlinedActiveBg: var(--joy-palette-success-700, #0A470A);
    --joy-palette-success-outlinedDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-success-outlinedDisabledBorder: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-success-softColor: var(--joy-palette-success-200, #C7F7C7);
    --joy-palette-success-softBg: var(--joy-palette-success-800, #042F04);
    --joy-palette-success-softHoverBg: var(--joy-palette-success-700, #0A470A);
    --joy-palette-success-softActiveColor: var(--joy-palette-success-100, #E3FBE3);
    --joy-palette-success-softActiveBg: var(--joy-palette-success-600, #136C13);
    --joy-palette-success-softDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-success-softDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-success-solidColor: var(--joy-palette-common-white, #FFF);
    --joy-palette-success-solidBg: var(--joy-palette-success-500, #1F7A1F);
    --joy-palette-success-solidHoverBg: var(--joy-palette-success-600, #136C13);
    --joy-palette-success-solidActiveBg: var(--joy-palette-success-700, #0A470A);
    --joy-palette-success-solidDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-success-solidDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-success-mainChannel: 81 188 81;
    --joy-palette-success-lightChannel: 199 247 199;
    --joy-palette-success-darkChannel: 10 71 10;
    --joy-palette-warning-50: #FEFAF6;
    --joy-palette-warning-100: #FDF0E1;
    --joy-palette-warning-200: #FCE1C2;
    --joy-palette-warning-300: #F3C896;
    --joy-palette-warning-400: #EA9A3E;
    --joy-palette-warning-500: #9A5B13;
    --joy-palette-warning-600: #72430D;
    --joy-palette-warning-700: #492B08;
    --joy-palette-warning-800: #2E1B05;
    --joy-palette-warning-900: #1D1002;
    --joy-palette-warning-plainColor: var(--joy-palette-warning-300, #F3C896);
    --joy-palette-warning-plainHoverBg: var(--joy-palette-warning-800, #2E1B05);
    --joy-palette-warning-plainActiveBg: var(--joy-palette-warning-700, #492B08);
    --joy-palette-warning-plainDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-warning-outlinedColor: var(--joy-palette-warning-200, #FCE1C2);
    --joy-palette-warning-outlinedBorder: var(--joy-palette-warning-700, #492B08);
    --joy-palette-warning-outlinedHoverBg: var(--joy-palette-warning-800, #2E1B05);
    --joy-palette-warning-outlinedActiveBg: var(--joy-palette-warning-700, #492B08);
    --joy-palette-warning-outlinedDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-warning-outlinedDisabledBorder: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-warning-softColor: var(--joy-palette-warning-200, #FCE1C2);
    --joy-palette-warning-softBg: var(--joy-palette-warning-800, #2E1B05);
    --joy-palette-warning-softHoverBg: var(--joy-palette-warning-700, #492B08);
    --joy-palette-warning-softActiveColor: var(--joy-palette-warning-100, #FDF0E1);
    --joy-palette-warning-softActiveBg: var(--joy-palette-warning-600, #72430D);
    --joy-palette-warning-softDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-warning-softDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-warning-solidColor: var(--joy-palette-common-white, #FFF);
    --joy-palette-warning-solidBg: var(--joy-palette-warning-500, #9A5B13);
    --joy-palette-warning-solidHoverBg: var(--joy-palette-warning-600, #72430D);
    --joy-palette-warning-solidActiveBg: var(--joy-palette-warning-700, #492B08);
    --joy-palette-warning-solidDisabledColor: var(--joy-palette-neutral-500, #636B74);
    --joy-palette-warning-solidDisabledBg: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-warning-mainChannel: 234 154 62;
    --joy-palette-warning-lightChannel: 252 225 194;
    --joy-palette-warning-darkChannel: 73 43 8;
    --joy-palette-common-white: #FFF;
    --joy-palette-common-black: #000;
    --joy-palette-text-primary: var(--joy-palette-neutral-100, #F0F4F8);
    --joy-palette-text-secondary: var(--joy-palette-neutral-300, #CDD7E1);
    --joy-palette-text-tertiary: var(--joy-palette-neutral-400, #9FA6AD);
    --joy-palette-text-icon: var(--joy-palette-neutral-400, #9FA6AD);
    --joy-palette-background-body: var(--joy-palette-common-black, #000);
    --joy-palette-background-surface: var(--joy-palette-neutral-900, #0B0D0E);
    --joy-palette-background-popup: var(--joy-palette-common-black, #000);
    --joy-palette-background-level1: var(--joy-palette-neutral-800, #171A1C);
    --joy-palette-background-level2: var(--joy-palette-neutral-700, #32383E);
    --joy-palette-background-level3: var(--joy-palette-neutral-600, #555E68);
    --joy-palette-background-tooltip: var(--joy-palette-neutral-600, #555E68);
    --joy-palette-background-backdrop: rgba(var(--joy-palette-neutral-darkChannel, 251 252 254) / 0.25);
    --joy-palette-divider: rgba(var(--joy-palette-neutral-mainChannel, 99 107 116) / 0.16);
    --joy-palette-focusVisible: var(--joy-palette-primary-500, #0B6BCB);
    --joy-shadowRing: 0 0 #000;
    --joy-shadowChannel: 0 0 0;
    --joy-shadowOpacity: 0.6;
}