body {
    font-family: "Source Code Pro", "Courier New", "等线", Courier, monospace;
    padding: 10px;
    /* background-color: #333; */
    background-color: rgb(24, 24, 27);
    color: #cbcfd5;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    /* font-size: 16px; */
    /* 设置根元素的字体大小为16像素 */
}

* {
    box-sizing: border-box;
    margin: 0;
    border-radius: 6px;
}
.cursor-pointer {
    cursor: pointer;
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* .flex {
    display: flex;
} */
.w-full {
    width: 100%;
}
.w-min-zero{
    min-width: 0;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

a {
    /* color: yellowgreen; */
    color: rgb(96 165 250);
    text-decoration: none;
    text-decoration-line: underline;
}
a:hover {
    /* color: yellow; */
    background-color: rgb(23, 26, 28);
    /* background-color: rgb(41, 144, 59); */
}

.container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    position: relative;
    /* overflow-x: hidden; 隐藏水平溢出 */
    max-width: 100%;
}


.action {
    margin-top: 40px;
    width: 100%;
    display: flex;
}
.contents-container {
    flex: 1;
    /* 让容器占据剩余空间 */
    width: 100%;
    min-width: 0;
    transition: width 0.5s;
    position: relative;
    /* 让容器成为相对定位的父元素 */
    display: flex;
    /* 设置容器内部为弹性布局 */
}
.section-container {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    width: 100%;
    min-width: 0;
    /* 设置最大宽度为150ch */
    height: 100%;
}
.diary-container {
    /* margin-top: 1rem; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    flex-grow: 1;
    /* 让日记容器占据剩余空间 */
    width: 100%;
    max-width: 110ch;
    min-width: 0;
    /* max-width: 100ch; */
    background-color: rgb(24, 24, 27);
    transition: width 0.5s;
}

.tags-container {
    flex: 0 0 200px;
    /* 设置tags容器的固定宽度为200像素 */
    background-color: rgb(29, 29, 32);
    display:none
}

.nav-container {
    flex: 0 0 200px;
    /* 设置左边容器的固定宽度为200像素 */
    background-color: rgb(29, 29, 32);
    display: none;
}

/* 媒体查询 */
/* @media (min-width: 853px) { */
@media (min-width: 873px) {
    html,body{
        font-size: 16px;
    }

    /* .display-hidden-container {
        display: block;
    } */

    .nav-container {
        display: block;
    }
}
/* 媒体查询 */
@media (min-width: 1000px) {
    html,body{
        font-size: 16px;
    }

    .display-hidden-container {
        display: block;
    }

    .nav-container {
        display: block;
    }
}

form {
    width: 100%;
    font-size: 15px;
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: column;
}

textarea_old:focus {
    outline: none;
}
textarea_old {
    width: 100%;
    height: 50vh;
    /* 设置高度 */
    font-size: 20px;
    /* border: 1px solid hwb(216 76% 20%); 设置边框样式  */
    /* margin: 5px;  */
    padding: 2px;
    /* 设置内边距 */
    font-family: "Source Code Pro", "Courier New", "等线", Courier, monospace;
    text-rendering: geometricPrecision;
    line-height: 1.35;
    tab-size: 2;
    display: block;
    /* 设置为块级元素 */
    background-color: rgb(39, 39, 42);
    color: #cbcfd5;
    border-radius: 6px;
    /* 设置所有四个角的圆角大小为 10 像素 */
    /* border: 1px solid #999; */
}

hr {
    /* margin: 1em 0; */
    border: none;
    border-top: 1px solid #ccc;
}

h3 {
    font-size: 1.5em;
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.5em; */
    color: coral;
}

.log-entry-container {
    position: relative;
    margin-top: 10px;
    /* 设置上边距为 10 像素 */
    margin-bottom: 10px;
    /* 设置下边距为 10 像素 */
    border-radius: 6px;
    background-color: rgb(39, 39, 42);
    padding-left:0.5rem;
    padding-right: 0.5rem;
    
}

.log-entry-container .dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    /* 添加指针样式，表明可以点击 */
}

.log_entry {
    white-space: pre-wrap;
    word-wrap: break-word;
    /* padding: 2px;  */
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 0px solid hsl(0, 0%, 0%);
    /* 设置边框样式 */
    /* margin: 0 auto 10px; 设置外边距 */
    font-family: "Source Code Pro", "Courier New", "等线", Courier, monospace;
    text-rendering: geometricPrecision;
    line-height: 1.35;
    tab-size: 2;
    /* 设置为块级元素 */
    display: block;
    /* background-color: #27272A; */
    transition: max-height 0.3s ease-in-out; /* 添加过渡效果 */
}
.log_entry.is-fold{
    max-height: 260px;
    overflow: hidden;
}
.unfold {
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin: 6px 0;
}
.fold{
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin: 6px 0;
}
.showBtn{
    color: rgb(45, 121, 186);
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    /* color: white; */
    background-color: rgb(63, 63, 70);
}

.code-container{
display: flex;
flex-direction: column;
background-color: rgb(63, 63, 70);
/* align-items: end; */
}
.singleLineCode{
    color:rgb(184, 187, 38);
    background-color: rgb(63, 63, 70);
    border-radius: 2px;
}

.tag{
    color:rgb(254, 121, 45);
    background-color: rgb(63, 63, 70);
    border-radius: 2px;
}
.copyIcon{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.codeTag{
    /* color: yellowgreen */
    color: rgb(142, 192, 124)
}
.copyIconSvgButton{
    --Icon-margin: initial;
    --Icon-color: var(--joy-palette-text-icon);
    --Icon-fontSize: calc(var(--IconButton-size, 2rem) / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: var(--IconButton-size, 2rem);
    min-height: var(--IconButton-size, 2rem);
    font-size: var(--joy-fontSize-sm);
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: var(--joy-fontFamily-body);
    font-weight: var(--joy-fontWeight-md);
    margin: var(--IconButton-margin);
    border-radius: var(--IconButton-radius, var(--joy-radius-sm));
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: var(--variant-plainColor, var(--joy-palette-neutral-plainColor, var(--joy-palette-neutral-700, #32383E)));
    --IconButton-size: 24px;   
}


.latexMath {
    font-size: 14px;
    overflow-x: hidden; /* 隐藏水平滚动条 */
    width: auto; /* 根据内容自动调整宽度 */
    /* white-space: nowrap; */
    /* display: inline-block; 将span元素转换为块级元素，以便设置宽度 */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444448;
    border: 1px solid #27272A;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    z-index: 1000;
    /* 设置 z-index 以确保在其他元素上方显示 */
    right: 0;
    /* 保持菜单右对齐 */
    min-width: 120px;
    /* 设置最小宽度 */
}

/* .dropdown-container .dropdown-menu {
    top: calc(100% + 5px);
} */

.dropdown-menu .dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-menu .dropdown-option:hover {
    background-color: #202024;
}

/* Modal Styles */
.modal {
    display: none;
    z-index: 1000;
    /* width: 100vw; */
    width: calc(100vw - var(--scrollbar-width));
    /* Set width to 100% to fill the entire width of the viewport */
    height: 100vh;
    /* Set height to 100% to fill the entire height of the viewport */
    background-color: rgba(0, 0, 0, 0.3);
    /* 设置悬浮容器的背景颜色并将透明度设置为50% */
    position: fixed;
    /* 使用固定定位 */
    top: 0;
    /* 将顶部定位到页面顶部 */
    left: 0;
    /* 将左侧定位到页面左侧 */
    /* Set padding top, right, bottom, and left */
    /* padding: 2rem 1rem 2rem 1rem; */
    padding: 3vh 0rem 2rem 0rem;
    box-sizing: border-box;
    /* 让 padding 不会增加容器的实际尺寸 */
    /* display: flex; */
    justify-content: center;
    /* 水平居中 */
    /* align-items: center; */
    /* 垂直居中 */
}

.modal-content {
    /* width: 100ch; */
    width: 100%;
    max-width: 70rem;
    height: fit-content;
    /* background-color: rgb(39, 45, 45); */
    background-color: rgb(39, 39, 42);
    /* 设置子容器的背景颜色 */
    /* padding: 20px; */
    /* 设置子容器的内边距 */
    border-radius: 6px;
    /* 设置子容器的圆角 */
}

.hr_2{
    border: none;
    background-color: rgba(159 166 173 /0.16);
    block-size: 1.5px;
    /* margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important; */
}

.close {
    color: #aaa;
    float: right;
    font-size: 23px;
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
button {
    /* background-color: #4CAF50; */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.css-button-save{
    background-color: rgb(11, 107, 203);
    line-height: 0.5rem;
    padding-inline: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.css-button-save:hover{
    background-color: rgb(24, 94, 165);
}

button:hover {
    background-color: rgb(24, 94, 165);
}
.click-more-button{
    --joy-fontSize-sm: 0.875rem;
    font-size: var(--joy-fontSize-sm);
    padding-block: var(--Button-paddingBlock, 0.25rem);
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #97C3F0;
}
.css-search-input{
    cursor: text;
    position: relative;
    display: flex;
    background-color: #0B0D0E;
    padding-inline: 0.75rem;
    border-radius: 6px;
    line-height: 1.5rem;
    min-width: 0px;
    min-height: 2.25rem;
}

:is(.dark .dark\:svg-gray-300) {
    --tw-text-opacity: 1;
    fill: rgb(209 213 219 / var(--tw-text-opacity))
}

